body {
  background-color: darkred;
  color: azure;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
}

h1,
h2,
h3 {
  font-family: "Oswald", sans-serif;
}

.input-group {
  margin-bottom: 1rem;
}

label {
  display: inline-block;
  margin-bottom: 0.5rem;
}

input {
  width: 30%;
  display: block;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  background-clip: padding-box;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

button {
  width: 5rem;
  height: 2rem;
}

input:focus {
  border-color: #80bdff;
  outline: 0;
  box-shadow: 0 0 0 0.2rem rgb(0 123 255 / 25%);
}

.main {
  margin: 1rem;
}

.container {
  display: flex;
}

.add-wine-container {
  display: flex;
  flex-direction: column;
}

.wine-item {
}